<!doctype html> 
<html> 
	<head>
		<title>Recipe Bank</title>
		<link rel="stylesheet" href="/style.css" />
    	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
	</head>
	<h1><a href="./">Recipe Bank</a></h1>
	<body>
		<div class="Navigation">
			<a href="./" class="active">Home</a>
			<a href='/login'>Login</a>
			<a href='/register'>Register</a>
			<a href='/addrecipe'>Add Recipe</a>
			<a href='/updaterecipe'>Update Recipe</a>
			<a href="/delete">Delete Recipe</a>
			<a href='/list'>List</a>
			<a href='/search'>Search</a>
			<a href='/logout'>Logout</a>
			<a href="/api">API</a>
		</div>
		<p></p>
	</body>
	
</html>
