<!doctype html>
<html>
<head>
        <link rel="stylesheet" href="/style.css" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <title>Register</title>
</head>
<h1><a href="./">Recipe Bank</a></h1>
<body>
        <div class="Navigation">
                <a href="./">Home</a>
    </div>
        <p>Register for an account</p>
        <form method="POST" action="/registered" id="registerForm">
                <div>Mininum password length is 5</div>
                Username:
                <input id="username" type="text" name="username" value="Enter username here" />
                Password:
                <input id="password" type="text" name="password" value="Enter password here" />
                Email:
                <input id="email" type="text" name="email" value="Enter Email here"/>
        <input type="submit" value="OK" />
        </form>
</body>

</html>
