<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="/style.css" />
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
		<title>This is the Search page</title>
	</head>
	<h1><a href="./">Recipe Bank</a></h1>
	<body>
		<div class="Navigation">
			<a href="./">Home</a>
			<a href='/logout'>Logout</a>
		  </div>
	<p></p>
	<form method= "POST" action="/search-result">
		Search our books:
		<input id="keyword" type="text" name="keyword" value="Search Query">
		<input type="submit" value="OK">
	</form>

</body>
</html>
